body {
  font-family: 'Helvetica Neue';
  background-color: black;
  margin: 0;
}

.hidden {
  display: none !important;
  opacity: 0;
  transition: opacity 1s;
}

#status-message {
  background-color: #ffffee;
}

.hills {
  stroke: green;
  stroke-width: 1;
  fill: none;
}

.hills path {
  stroke: none;
}

.hills .curve-dest {
  fill: red;
  stroke: none;
}

.hill .curve-control {
  fill: white;
  stroke: none;
}

.board {
  margin-top: 1em;
}
