body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: black;
  margin: 0;
  color: white;
}

.hidden {
  display: none !important;
  opacity: 0;
  transition: opacity 1s;
}

#status-message {
  background-color: #ffffee;
}

.hills {
  stroke: green;
  stroke-width: 1;
  fill: none;
}

.hills path {
  stroke: none;
}

path.outlined {
  stroke: white;
  stroke-width: 16px;
}

.curve-dest {
  fill: #0c7;
  stroke: white;
  stroke-width: 4;
}

.curve-src {
  fill: hsla(0, 0%, 50%, 0.5);
  stroke: white;
  stroke-width: 4;
}

.curve-start-control {
  fill: #0670dc;
  stroke: white;
  stroke-width: 4;
}

.curve-end-control {
  fill: #ef0e50;
  stroke: white;
  stroke-width: 4;
}

#debug-layer line {
  stroke-width: 8;
}

#debug-layer .curve-start-control-line {
  stroke: hsla(0, 0%, 100%, 0.5);
}

#debug-layer .curve-end-control-line {
  stroke: hsla(0, 0%, 0%, 0.5);
}

.board {
  margin-top: 1em;
}

#roll-hills-button {
  font-family: sans-serif;
  font-size: 1.2em;
  color: #ddd;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 1em;
  padding: 0.2em;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
  cursor: pointer;
}
