body {
  font-family: 'Helvetica Neue';
  background-color: black;
}

.hidden {
  display: none !important;
  opacity: 0;
  transition: opacity 1s;
}

#status-message {
  background-color: #ffffee;
}

.hill-outline {
  stroke: green;
  stroke-width: 1;
  fill: none;
}

.hill-outline .curve-dest {
  fill: red;
  stroke: none;
}

.hill-outline .curve-control {
  fill: white;
  stroke: none;
}

.board {
  margin-top: 1em;
}
